.about {
    height: auto;
    background-color: #2eb398;
}
.developer {
    color: #d7fcf5;
    margin-bottom: em(20px);
    @include from-mobile-only{
        flex-direction: row;
    }
}

.developer-pic {
    margin: em(70px) 0;
    @include from-mobile-only{
        margin-right: em(10px);
    }
    // width: 100%;
    // height: 50vw;
    // @include from-mobile-only{
    //     height: 206px;
    // }
}

.developer_1{
    background-image: url('../assets/imgs/memes/1.jpg');
}

.developer_2{
    background-image: url('../assets/imgs/memes/2.jpg');
}

.developer-name {
    font-size: rem(30px);
}

.developer-title {
    font-size: rem(18px);
    color: #20816d;
}

.developer-bio {
    margin-bottom: em(20px);
}