.about {
    height: auto;
    background-color: #2eb398;
    // padding: em(50px) em(90px);
}
.developer {
    color: #d7fcf5;
}

.developer-img {
    width: 60%;
    height: 206px;
}

.developer-name {
    font-size: rem(30px);
}

.developer-title {
    font-size: rem(18px);
    color: #20816d;
}

.developer-bio {
    margin-bottom: em(20px);
}