/*----------  Containers  ----------*/

.container {
  width: 100%;
  margin: 0 auto;
}

.inner-container{
  width: 100%;
  max-width: var(--inner-container-width);
  margin: auto;
  padding: em(10px);
}


header{
  width: 100%;
  height: 63px;
}

main{
  width: 100%;
  height: auto;
}

footer{
  background: #222;
  width: 100%;
  height: auto;
  font-size: rem(9px);
  color: #454545;
  padding: em(15px) em(40px);
}