.header__fixed{
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 0.4375em 38px #e4e9eb;
}

.language-selcet{
    position: absolute;
    top: 40%;
    left: 10px;
    color: white;
}

.main-nav{
    background-color: #323232;
}


.main-nav__item{
    &:not(:last-child){
        margin-right: em(26px);
    }
}

.active{
    color: #2eac93;
}

.main-nav__item .main-nav__link{
    color: #efefef;
    font-size: rem(16px);
    transition: all 0.5s ease;
    &:hover{
        color: #2eac93;
    }
}

.arrow-down {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid #323232;
    position: relative;
    top: -1px;
}