.memes-gallery{
    padding: em(90px);
}

.memes-gallery__hexagon{
    // width: 180px; Desktop
    // height: 206px;
    width: 100%;
    height: auto;
    margin-bottom: em(15px);
}

.meme__img{
    // width: 180px; //desktop
    // height: 206px;
}

/** Memes edit **/

.meme-edit , .meme-edit__template{
    width: 100%;
}

.meme-generator img{
    // width: 350px; //desktop
    // height: 350px;
    width: 100%;
    height: auto;
} 

.meme-edit__form{
    width: 100%;
    align-items: center;
}