.memes-gallery__container{
    padding-top: em(90px);
}

.memes-gallery__meme{
    margin-bottom: em(150px);
}

/** Memes edit **/

.meme-edit , .meme-edit__template{
    width: 100%;
}

.meme-generator .meme-generator__meme{
    width: 100%;
    height: auto;
} 

.memes-gallery {
    border: 2px solid #e4e9eb;
   @include from-mobile-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
}

.meme-edit__form{
    width: 100%;
    align-items: center;
}


.search-meme__container{
    margin-bottom: em(60px);
}

