// .memes-gallery__container{
//     padding-top: em(90px);
// }

.memes-gallery__meme{
    margin-bottom: em(150px);
}

.memes-gallery {
    border: 2px solid #e4e9eb;
   @include from-mobile-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
}

/** Memes edit **/

.meme-edit , .meme-edit__template{
    width: 100%;
}

.meme-generator{
    width: 100%;
    max-width: 100%;
}

.meme-generator__container{
    @include from-tablet-only{
        flex-direction: row;
    }
}

.meme-generator .meme-generator__meme{
    width: 100%;
    height: auto;
} 

.meme-edit__form{
    width: 100%;
    align-items: center;
}

// search container
.meme-generator__canvas{

    // border: 1px solid black;
    max-width: 80%;
    margin: auto;
}

.topText , .bottomText{
    width: 100%;
}

.meme-generator__back {
    width: em(100px);
    height: 30px;
    margin: em(10px) auto;
    background-color: #2eb398;
    color: white;
    font-size: rem(12px);
    border: none;
}

.top-text__generator-features > * , .bottom-text__generator-features > *{
    display: flex;
    margin-top: em(10px);
    &:not(:last-child){
        margin-right: em(10px);
    }
}

.meme-edit__form > *{
    &:not(:last-child){
        margin-bottom: em(10px);
    }
}

// Memes search
.search-meme__container{
    margin: em(60px) 0;
    @include from-mobile-only {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
    }
}
.search-meme__container > *{
    @include from-mobile-only {    
        &:not(:first-child){
            margin-left: em(50px);
        }
    }
}


.search-keywords {
    max-width: 35%;
    //     margin-left: em(50px);
    // }        
}

.search-keywords__keyword{
    //didnt work well with rem
    font-size: 16px;
}